<nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="../moviepage"><h1 class="heading">Movie Stack</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../moviepage"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../moviepage/movies"><i class="fas fa-film"></i> Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../moviepage/tvshows"><i class="fas fa-film"></i> Tv Shows</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-crown"></i> Genre</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="views/movies.html">Action</a>
                        <a class="dropdown-item" href="views/movies.html">Drama</a>
                        <a class="dropdown-item" href="views/movies.html">Thriller</a>
                        <a class="dropdown-item" href="views/movies.html">Comedy</a>
                        <a class="dropdown-item" href="views/movies.html">Crime</a>
                    </div>
                </li>
                 
            </ul>
            <a class="nav-button" href="../moviepage/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            
        </div>
    </nav>

     <!---------------------------------------------------------- Carousel ----------------------------------------------------------->

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://image.tmdb.org/t/p/original/l6jEz6DvnjaPnuWnVseSFJlxDoZ.jpg" alt="Deadpool 2">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://image.tmdb.org/t/p/original/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg" alt="Avengers: Infinity War">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://image.tmdb.org/t/p/original/gVtxvD7DBQJojua6J0I9t7p48i.jpg" alt="Tomb Raider">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>

    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-money-bill-alt m-auto main-icons"></i>
                        </div>
                        <h3>Movies</h3>
                        <p class="lead mb-0">You won't find <span class="purple-underline">Popular</span> movies anywhere else!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-mobile-alt m-auto main-icons"></i>
                        </div>
                        <h3>Tv Shows</h3>
                        <p class="lead mb-0">See your Tv shows from <span class="purple-underline">anywhere</span> in the world without mobile apps!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-headphones m-auto main-icons"></i>
                        </div>
                        <h3>All Quality</h3>
                        <p class="lead mb-0">Watch your favourite movies in <span class="purple-underline"> Full HD</span> and enjoy!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="information-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="../../img/circle-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Start by browsing movies...</h2>
                        <p>Get your searches to pick the best looking movie. The best place to watch your favourite movies!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/circle-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Pick the most interesting one...</h2>
                        <p>There are three types of people. The first type are picking the movie with the best looking poster, the second type picks a movie because they like the story and the third type is just bored.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/circle-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Watch and add your review</h2>
                        <p>It's easy Just click the button, fill the required information and that's it! You are now the proud owner of a movie collection! I bet you are going to brag about it to your friends.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="background">
        <div class="background-content">
            <div class="container">
                <h2>Wanna watch a movie?<br>Start browsing!!</h2>
                <a href="views/movies.html" class="browsing-button">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    
    

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left my-auto">
                    <p class="small mb-4 mb-lg-0">Rupesh P &copy; 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3 ">
                            <a href="https://www.linkedin.com/in/prupesh99/" class="footer-fb">
                  <i class="fab fa-linkedin fa-2x fa-fw"></i>
                </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#" class="footer-tw">
                  <i class="fab fa-twitter fa-2x fa-fw"></i>
                </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="footer-in">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

 

    