<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions on your review.</p>
  <hr>
  <h4>
    Review Sent!!!
  </h4>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="../moviepage" role="button">Continue to homepage</a>
  </p>
</div>  