<nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="../moviepage"><h1 class="heading">Movie Stack</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../moviepage"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../moviepage/movies"><i class="fas fa-film"></i> Movies</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../moviepage/tvshows"><i class="fas fa-film"></i> Tv Shows</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-crown"></i> Genre</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../views/tvshows.html">Action</a>
                        <a class="dropdown-item" href="../views/tvshows.html">Drama</a>
                        <a class="dropdown-item" href="../views/tvshows.html">Thriller</a>
                        <a class="dropdown-item" href="../views/tvshows.html">Comedy</a>
                        <a class="dropdown-item" href="../views/tvshows.html">Crime</a>
                    </div>
                </li>
                
            </ul>
            
        </div>
    </nav>
    <br>
    
    <!------------------------------------------------------- Cards Section -------------------------------------------------------------------->
        <section id="cards-section">
        <div class="container">
            <div class="alert alert-primary" role="alert">
                <i class="fas fa-exclamation-circle"></i> The Most popular Tv Shows in hollywood.
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="list mb-2">
                        <div class="list-header">
                            <a href="../moviepage/moviedesc" class="list-header-image">
                            <img src="https://www.gstatic.com/tv/thumb/tvbanners/17467742/p17467742_b_v8_aa.jpg">
                        </a>
                        </div>
                        <div class="list-content">
                            <h2><a href="../moviepage/moviedesc" class="text-color">Lost In Space</a></h2>
                            <span class="space">
                            <span class="space-item"><i class="fas fa-clock"></i> 2020</span>
                            <a href="#" class="space-item"><i class="fas fa-star"></i> 7.6</a>
                            </span>
                            <p>A rip in the space-time continuum forces the Robinsons, a family of space colonists, to crash-land on an unknown planet. Now, they must battle an alien environ to escape the planet and reach safety. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="list mb-2">
                        <div class="list-header">
                            <a href="../moviepage/moviedesc" class="list-header-image">
                            <img src="https://m.media-amazon.com/images/M/MV5BNjIxMWMzMzctYmZkYy00OTkzLWFlMWUtMjc3ZDFmYzQ3YmVkXkEyXkFqcGdeQXVyNjU2ODM5MjU@._V1_.jpg">
                        </a>
                        </div>
                        <div class="list-content">
                            <h2><a href="../moviepage/moviedesc" class="text-color">Altered Carbon</a></h2>
                            <span class="space">
                            <span class="space-item"><i class="fas fa-clock"></i> 2020</span>
                            <a href="#" class="space-item"><i class="fas fa-star"></i> 8.4</a>
                            </span>
                            <p>More than 300 years in the future, society has been transformed by new technology, leading to human bodies being interchangeable and death no longer being permanent. Takeshi Kovacs is surviving soldier of elite interstellar warriors.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="list mb-2">
                        <div class="list-header">
                            <a href="../moviepage/moviedesc" class="list-header-image">
                            <img src="https://tuktukcinema.com/wp-content/uploads/2020/02/0000000000000002.jpg">
                        </a>
                        </div>
                        <div class="list-content">
                            <h2><a href="../moviepage/moviedesc" class="text-color">Sherlock</a></h2>
                            <span class="space">
                            <span class="space-item"><i class="fas fa-clock"></i> 2020</span>
                            <a href="#" class="space-item"><i class="fas fa-star"></i> 9.1</a>
                            </span>
                            <p class="m-para">Dr. Watson, a former army doctor, finds himself sharing a flat with Sherlock Holmes, an eccentric individual with a knack for solving crimes. Together, they take on the most unusual cases.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="list mb-2">
                        <div class="list-header">
                            <a href="../moviepage/moviedesc" class="list-header-image">
                            <img src="https://www.gstatic.com/tv/thumb/tvbanners/17592918/p17592918_b_v8_aa.jpg">
                        </a>
                        </div>
                        <div class="list-content">
                            <h2><a href="../moviepage/moviedesc" class="text-color">Vikings</a></h2>
                            <span class="space">
                            <span class="space-item"><i class="fas fa-clock"></i> 2020</span>
                            <a href="#" class="space-item"><i class="fas fa-star"></i> 8.5</a>
                            </span>
                            <p>Ragnar Lothbrok, a legendary Norse hero, is a mere farmer who rises up to become a fearless warrior and commander of the Viking tribes his equally ferocious family.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-xs-6">
                    <div class="list mb-2">
                        <div class="list-header">
                            <a href="../moviepage/moviedesc" class="list-header-image">
                            <img src="https://upload.wikimedia.org/wikipedia/en/6/67/The_King%27s_Man.jpg">
                        </a>
                        </div>
                        <div class="list-content">
                            <h2><a href="../moviepage/moviedesc" class="text-color">The King's Man</a></h2>
                            <span class="space">
                            <span class="space-item"><i class="fas fa-clock"></i> 2020</span>
                            <a href="#" class="space-item"><i class="fas fa-star"></i> 7.4</a>
                            </span>
                            <p>One man must race against time to stop history's worst tyrants and criminal masterminds as they get together to plot a war that could wipe out millions of people and destroy humanity.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="list mb-2">
                        <div class="list-header">
                            <a href="../moviepage/moviedesc" class="list-header-image">
                            <img src="https://upload.wikimedia.org/wikipedia/en/1/17/Mulan_%282020_film%29_poster.jpg">
                        </a>
                        </div>
                        <div class="list-content">
                            <h2><a href="../moviepage/moviedesc" class="text-color">Mulan</a></h2>
                            <span class="space">
                            <span class="space-item"><i class="fas fa-clock"></i> 2020</span>
                            <a href="#" class="space-item"><i class="fas fa-star"></i> 5.7</a>
                            </span>
                            <p>To save her ailing father from serving in the Imperial Army, a fearless young woman disguises herself as a man to battle northern invaders in China.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-xs-6">
                    <div class="list mb-2">
                        <div class="list-header">
                            <a href="../moviepage/moviedesc" class="list-header-image">
                            <img src="https://upload.wikimedia.org/wikipedia/en/6/60/Birds_of_Prey_%28and_the_Fantabulous_Emancipation_of_one_Harley_Quinn%29.jpg">
                        </a>
                        </div>
                        <div class="list-content">
                            <h2><a href="../moviepage/moviedesc" class="text-color">Harley Quinn: Birds of Prey</a></h2>
                            <span class="space">
                            <span class="space-item"><i class="fas fa-clock"></i> 2020</span>
                            <a href="#" class="space-item"><i class="fas fa-star"></i> 7.8</a>
                            </span>
                            <p>It's open season on Harley Quinn when her explosive breakup with the Joker puts a big fat target on her back. Unprotected and on the run, Quinn faces the wrath of narcissistic crime boss Black Mask.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="list mb-2">
                        <div class="list-header">
                            <a href="../moviepage/moviedesc" class="list-header-image">
                            <img src="https://m.media-amazon.com/images/M/MV5BZDA1ZmQ2OGMtZDhkMC00ZjRkLWE3ZTMtMzA5ZTk0YjM1OGRmXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_.jpg">
                        </a>
                        </div>
                        <div class="list-content">
                            <h2><a href="../moviepage/moviedesc" class="text-color">The Call of the Wild</a></h2>
                            <span class="space">
                            <span class="space-item"><i class="fas fa-clock"></i> 2020</span>
                            <a href="#" class="space-item"><i class="fas fa-star"></i> 6.2</a>
                            </span>
                            <p>Buck is a big-hearted dog whose blissful domestic life gets turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Alaskan Yukon in the 1890s. As the rookie on a mail-delivery dog sled team.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>